<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>Day_15_Task</display-name>
  <welcome-file-list>
    <welcome-file>numberCal.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FactorialServlet</display-name>
    <servlet-name>FactorialServlet</servlet-name>
    <servlet-class>com.ssn.servlet_to_servlet.FactorialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactorialServlet</servlet-name>
    <url-pattern>/FactorialServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>PrimeOrNotServlet</display-name>
    <servlet-name>PrimeOrNotServlet</servlet-name>
    <servlet-class>com.ssn.servlet_to_servlet.PrimeOrNotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrimeOrNotServlet</servlet-name>
    <url-pattern>/PrimeOrNotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FactorServlet</display-name>
    <servlet-name>FactorServlet</servlet-name>
    <servlet-class>com.ssn.servlet_to_servlet.FactorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactorServlet</servlet-name>
    <url-pattern>/FactorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SquareServlet</display-name>
    <servlet-name>SquareServlet</servlet-name>
    <servlet-class>com.ssn.servlet_to_servlet.SquareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SquareServlet</servlet-name>
    <url-pattern>/SquareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculationServlet</display-name>
    <servlet-name>CalculationServlet</servlet-name>
    <servlet-class>com.ssn.servlet_to_servlet.CalculationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculationServlet</servlet-name>
    <url-pattern>/cal</url-pattern>
  </servlet-mapping>
</web-app>